@import "design-system/style/mixins";

.wrapper {
  display: flex;
  min-width: 25rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--uxu-space-small);
  
  @include media(s) {
	min-width: 50rem;
	max-width: 50rem;
  }
}

.wrapperDashBoard {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--uxu-space-small);
  padding: var(--uxu-space-large) var(--uxu-space-default);
  border: var(--uxu-border-default);
  border-radius: var(--uxu-radii-default);
  background-color: var(--uxu-color-background-secound);
}

.wrapperForBrand {
  display: flex;
  flex-direction: column;
  gap: var(--uxu-space-small);
  padding-bottom: var(--uxu-space-default);
  
  svg {
	max-width: 28rem;
  }
  
  .main svg {
	height: 3rem;
	fill: var(--uxu-color-text-header);
  }
  
  .secound {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: var(--uxu-space-small);
	
	p {
	  font-size: var(--uxu-font-size-mini);
	}
	
	svg {
	  height: 1.2rem;
	  fill: var(--uxu-color-text-default);
	}
  }
}

.wrapperLinks {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: var(--uxu-space-small);
  
  a {
	width: 100%;
	font-size: var(--uxu-font-size-small);
  }
  
  @include media(s) {
	justify-content: center;
	a {
	  width: auto;
	}
  }
}

.info {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: var(--uxu-space-small) 0;
  font-size: var(--uxu-font-size-small);
  
  @include media("m") {
	width: 80%;
  }
}