.wrapper {
  position: relative;
  border-top: var(--uxu-border-default);
  border-bottom: var(--uxu-border-default);
  background-color: var(--uxu-color-primary-background);

  .label, .button {
    margin: 0;
    width: 100%;
    display: flex;
    background: transparent;
    color: var(--uxu-color-primary-foreground);
  }

  .button {
    border: none;
    cursor: pointer;
    padding: var(--uxu-space-default);

    p {
      padding: 0;
    }
  }

  .content {
    padding-top: 0;
    max-height: 0vh;
    display: block;
    overflow: hidden;
    transition: max-height, padding 0.3s;
    padding: 0 var(--uxu-space-default);

    &.open {
      max-height: 100vh;
      padding-top: var(--uxu-space-large);
    }
  }
}
