@import "design-system/style/mixins";

.wrapper {
  position: relative;
}


.railVideo {
  display: none;
  
  @include media(s) {
	height: 100%;
	display: block;
	right: 0;
	padding: 35rem 0 10rem 0;
	position: absolute;
	z-index: 1;
  }
  
  .wrapperVideo {
	top: 8rem;
	position: sticky;
  }
}

.wrapperContent {
  width: 100%;
  position: relative;
  
  .wrapperFaq {
	width: 100%;
	
	@include media(s) {
	  width: calc(100% - 50rem);
	}
  }
}
