$colors: (
  error: (
	1: (
	  dark: '255, 26, 26',
	  light: '238, 0, 0'
	),
  ),
  success: (
	1: (
	  dark: '0, 112, 243',
	  light: '0, 112, 243'
	),
  ),
  warning: (
	1: (
	  dark: '245, 166, 35',
	  light: '245, 166, 35'
	),
  ),
  gray: (
	1: (
	  (
		dark: "17, 17, 17",
		light: "250, 250, 250"
	  )
	),
	2: (
	  dark: "51, 51, 51",
	  light: "234, 234, 234"
	),
	3: (
	  dark: "68, 68, 68",
	  light: "153, 153, 153"
	),
	4: (
	  dark: "102, 102, 102",
	  light: "136, 136, 136"
	),
	5: (
	  dark: "136, 136, 136",
	  light: "102, 102, 102"
	),
	6: (
	  dark: "153, 153, 153",
	  light: "68, 68, 68"
	),
	7: (
	  dark: "234, 234, 234",
	  light: "51, 51, 51"
	),
	8: (
	  dark: "250, 250, 250",
	  light: "17, 17, 17"
	)
  ),
  blue: (
	1: (
	  (
		dark: "15, 28, 46",
		light: "240, 247, 255"
	  )
	),
	2: (dark: "16, 35, 61", light: "235, 245, 255"),
	3: (dark: "15, 47, 87", light: "224, 240, 255"),
	4: (dark: "16, 60, 113", light: "214, 235, 255"),
	5: (dark: "17, 76, 140", light: "204, 230, 255"),
	6: (dark: "18, 93, 167", light: "194, 225, 255"),
	7: (dark: "19, 111, 194", light: "184, 220, 255"),
	8: (dark: "20, 130, 221", light: "174, 215, 255"),
	9: (dark: "21, 150, 248", light: "164, 210, 255"),
	10: (dark: "22, 171, 275", light: "154, 205, 255")
  ),
  red: (
	1: (
	  (
		dark: "42, 19, 20",
		light: "255, 240, 240"
	  )
	)
  ),
  amber: (
	1: (
	  (
		dark: "51, 33, 8",
		light: "255, 240, 209"
	  )
	)
  ),
  green: (
	1: (
	  (
		dark: "20, 42, 21",
		light: "240, 255, 240"
	  )
	)
  ),
  teal: (
	1: (
	  (
		dark: "20, 42, 42",
		light: "240, 255, 255"
	  )
	)
  ),
  purple: (
	1: (
	  (
		dark: "121, 40, 202",
		light: "121, 40, 202"
	  )
	),
	2: (
	  (
		dark: "255, 0, 128",
		light: "255, 0, 128"
	  )
	)
  ),
  background: (
	foreground: (
	  dark: '255, 255, 255',
	  light: '0, 0, 0'
	),
	default: (
	  dark: '0, 0, 0',
	  light: '255, 255, 255'
	),
	secound: (
	  dark: '15, 15, 15',
	  light: '240, 240, 240'
	),
	disabled: (
	  dark: '15, 15, 15',
	  light: '240, 240, 240'
	),
  ),
  text: (
	default: (
	  dark: '136, 136, 136',
	  light: '102, 102, 102'
	),
	secound: (
	  dark: '0, 0, 0',
	  light: '255, 255, 255',
	),
	header: (
	  dark: '255, 255, 255',
	  light: '0, 0, 0'
	),
  ),
  link: (
	default: (
	  dark: '0, 112, 243',
	  light: '0, 112, 243'
	),
	secound: (
	  dark: '255, 255, 255',
	  light: '0, 0, 0'
	),
	hover: (
	  dark: '136, 136, 136',
	  light: '102, 102, 102'
	),
  ),
  border: (
	default: (
	  dark: '68, 68, 68',
	  light: '153, 153, 153'
	),
	active: (
	  dark: '255, 255, 255',
	  light: '0, 0, 0'
	),
	error: (
	  dark: '255, 26, 26',
	  light: '238, 0, 0'
	),
	warning: (
	  dark: '245, 166, 35',
	  light: '245, 166, 35'
	),
	success: (
	  dark: '0, 112, 243',
	  light: '0, 112, 243'
	)
  )
)
