$shadows: (
  alpha-100: 0px 0px 15px rgba(var(--uxu-color-primary-foreground-rgba), 0.01),
  alpha-200: 0px 0px 15px rgba(var(--uxu-color-primary-foreground-rgba), 0.02),
  alpha-300: 0px 0px 15px rgba(var(--uxu-color-primary-foreground-rgba), 0.03),
  alpha-400: 0px 0px 15px rgba(var(--uxu-color-primary-foreground-rgba), 0.04),
  alpha-500: 0px 0px 15px rgba(var(--uxu-color-primary-foreground-rgba), 0.05),
  alpha-600: 0px 0px 15px rgba(var(--uxu-color-primary-foreground-rgba), 0.06),
  alpha-700: 0px 0px 15px rgba(var(--uxu-color-primary-foreground-rgba), 0.07),
  alpha-800: 0px 0px 15px rgba(var(--uxu-color-primary-foreground-rgba), 0.08),
  alpha-900: 0px 0px 15px rgba(var(--uxu-color-primary-foreground-rgba), 0.09),
  alpha-1000: 0px 0px 15px rgba(var(--uxu-color-primary-foreground-rgba), 0.1),
)
