.wrapper {
  display: flex;
  position: relative;
  align-items: center;
  gap: var(--uxu-space-default);
  border: var(--uxu-border-default);
  border-radius: var(--uxu-radii-default);
  background-color: var(--uxu-color-background-secound);
  padding: var(--uxu-space-default);

  .info {
    width: 100%;
    text-align: center;
  }
}

.wrapperData {
  display: flex;
  min-width: 20rem;
  height: 100%;
  align-items: center;
  gap: var(--uxu-space-small);
  border-right: var(--uxu-border-default);
  padding-right: var(--uxu-space-small);

  .circle {
    width: 4rem;
    height: 4rem;
    background-color: var(--uxu-color-default-1);
    border-radius: var(--uxu-radii-circle);
  }

  .data {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .reputation {
      font-weight: bold;
      font-size: var(--uxu-font-size-small);
      color: var(--uxu-color-text-default);
    }

    .date {
      font-size: var(--uxu-font-size-micro);
      color: var(--uxu-color-text-default);
    }
  }

  &.success {
    .circle {
      background-color: var(--uxu-color-success-1);
    }
    .reputation {
      color: var(--uxu-color-success-1);
    }
  }

  &.warning {
    .circle {
      background-color: var(--uxu-color-warning-1);
    }
    .reputation {
      color: var(--uxu-color-warning-1);
    }
  }

  &.danger {
    .circle {
      background-color: var(--uxu-color-danger-1);
    }
    .reputation {
      color: var(--uxu-color-danger-1);
    }
  }

  &.error {
    .circle {
      background-color: var(--uxu-color-error-1);
    }
    .reputation {
      color: var(--uxu-color-error-1);
    }
  }
}
