.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  span {
    position: relative;
    font-size: 8rem;
    font-weight: bold;
    color: white;
    
    &::before {
      opacity: 0;
      display: block;
      position: absolute;
      color: transparent;
      content: attr(data-text);
      -webkit-background-clip: text;
    }
  }
  
  @for $i from 1 through 3 {
    span:nth-child(#{$i}) {
      animation: color-shift-text-animator-opacity-#{$i} 8s infinite, color-shift-text-animator-color-#{$i} 8s infinite;
      &::before {
        background-image: var(--uxu-gradient-#{nth(('blue-tell', 'purple-pink', 'red-amber'), $i)});
      }
    }
  }
}

@keyframes color-shift-text-animator-opacity-1 {
  0%, 33%, 100% { opacity: 1; }
  80% { opacity: 0; }
}

@keyframes color-shift-text-animator-color-1 {
  0%, 33%, 100%  { color: transparent; }
  80% { color: white; }
}

@keyframes color-shift-text-animator-opacity-2 {
  33%, 100% { opacity: 0; }
  66% { opacity: 1; }
}

@keyframes color-shift-text-animator-color-2 {
  33%, 100% { color: white; }
  66% { color: transparent; }
}

@keyframes color-shift-text-animator-opacity-3 {
  66%, 100% { opacity: 0; }
  80% { opacity: 1; }
}

@keyframes color-shift-text-animator-color-3 {
  66%, 100% { color: white; }
  80% { color: transparent; }
}
