.wrapper {
  position: relative;
  overflow: hidden;
  display: block;
  cursor: pointer;
  
  &:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--uxu-color-background-default);
    opacity: 0.3;
  }
}

.controls {
  width: 100%;
  color: var(--uxu-color-link-secound);
  position: absolute;
  display: flex;
  justify-content: flex-end;
  padding: var(--uxu-space-small) var(--uxu-space-default);
}
