@import "design-system/style/mixins";

.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  padding: var(--uxu-space-large) 0;
  
  @include media(m) {
	grid-template-columns: repeat(2, 1fr);
	padding: var(--uxu-space-large) 0 calc(var(--uxu-space-large) * 3) 0;
  }
}

.wrapperQuestionnaire {
  order: 1;
  
  @include media(m) {
	order: -1;
  }
  
  .wrapperForm {
	display: flex;
	position: relative;
	flex-direction: column;
	gap: var(--uxu-space-large);
	padding: var(--uxu-space-large) var(--uxu-space-default);
	border-radius: var(--uxu-radii-default);
	border: var(--uxu-border-default);
	background-color: var(--uxu-color-background-secound);
	
	.wrapperHeader {
	  display: flex;
	  flex-direction: column;
	  gap: var(--uxu-space-small);
	  text-align: center;
	}
	
	form {
	  display: flex;
	  flex-direction: column;
	  gap: var(--uxu-space-default);
	  
	  
	  .wrapperButtons {
		display: flex;
		justify-content: flex-end;
	  }
	}
  }
  
  .info {
	width: 100%;
	display: block;
	text-align: center;
	padding: var(--uxu-space-large) 0 calc(var(--uxu-space-large) * 2) 0;
	
	@include media(m) {
	  padding: var(--uxu-space-large) 0 0 0;
	}
  }
}


.wrapperInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--uxu-space-large);
  padding: 0 0 calc(var(--uxu-space-large) * 2) 0;
  
  @include media(m) {
	padding: var(--uxu-space-large) 0 calc(var(--uxu-space-large) * 4) var(--uxu-space-large);
  }
  
  p {
	display: flex;
	align-items: center;
	gap: var(--uxu-space-default);
  }
}