.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--uxu-color-primary-accent2);
  position: relative;

  &::before,
  &::after {
    width: 100%;
    position: absolute;
    text-align: center;
    color: var(--uxu-color-primary-accent3);
  }

  &::before {
    top: calc(50% - 3rem);
    font-size: var(--uxu-font-size-large);
    font-weight: bold;
    content: 'UXU';
  }

  &::after {
    top: calc(50% + 0.5rem);
    content: 'reklama';
  }
}
